:root {
    --primary-color: #5e503f; 
    --secondary-color: #0a0908; 
    --accent-color: #b1a7a6;
    --accent1-color: #f5f3f4;

    --heading-font: "Roboto", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font)

}

.container {
    width: 1000px;
    max-height: 100%;
    margin: 0 auto;
    display: grid;
    padding: 2px;
}

header {
    height: 150px;
    display: grid;
    align-items: cennter;
    justify-content: space-between;
   
    background-color: var(--primary-color);
    
}
.header-contents {
    height: 80px;
}

h1, h2, h5 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-weight: 700;

}

header, main, footer{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0, 
    
}

header nav {
    width: 1000px;
    height: 80px;
    display: flex;
    padding: 0 25px;
    margin: 0;
    gap: 30px;
    align-items: center;
    background-color: var(--secondary-color);
    justify-content: center;
}

header nav a {
    margin: 0 1rem;
    color: var(--accent1-color);
    padding: 0 25px;
    font-size: 1.25em;
    font-style: var(--heading-font);
    text-align: center;
    text-decoration: none;
}

.box{
    justify-items: center;
    display: flex;
    width: 100%;
    height: 250px;
}
main {
    display: flex;
    width: 65%;
    height: 250px;
    background-color: var(--accent-color);
}

aside {
    width: 35%;
    background-color: var(--accent1-color);
    }

footer {
    text-align: center;
    width: 100%;
    height: 90px;
    background-color: var(--primary-color);
}